* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  padding: 20px;
}

.textarea {
  outline: transparent;
  border: 1px solid #ccc;
  min-height: 50px;
  padding: 15px;
  width: 100%;
}

.button {
  background-color: rgb(61, 169, 241);
  color: #fff;
  padding: 10px 15px;
  outline: transparent;
  width: 100%;
  margin-top: 15px;
  border: none;
  cursor: pointer;
}

.rounded {
  border-radius: 5px;
}